@model ABCMusic_Auth.Models.Song

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details";
}

<div class="row">
	<div class="col-md-3"></div>
	<div class="abc-dialog delete-dialog col-md-6">
		<div class="row">
			<h4 id="abc-dialog-title" class="panel-header">ARE YOU SURE?</h4>
			<p class="middle-align">This action cannot be undone.</p>
		</div>
		<div class="row">
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<p>@Html.DisplayFor(model => model.Name)</p>
			</div>
			<div class="form-group">
				<label asp-for="ArtistName" class="control-label"></label>
				<p>@Html.DisplayFor(model => model.ArtistName)</p>
			</div>
			<div class="form-group">
				<label asp-for="Length" class="control-label"></label>
				<p>@Html.DisplayFor(model => model.Length)</p>
			</div>
			<div class="form-group">
				<label asp-for="ReleaseDate" class="control-label"></label>
				<p>@Html.DisplayFor(model => model.ReleaseDate)</p>
			</div>
			<div class="form-group">
				<label asp-for="Artist.UserName"></label>
				<p>@Html.DisplayFor(model => model.Artist.UserName)</p>
			</div>
			<div class="form-group">
				<label asp-for="AlbumId" class="control-label"></label>
				@if (Model.Album != null)
				{
					<p>@Html.DisplayFor(model => model.Album.DisplayName)</p>
				}
				else
				{
					<p>None</p>
				}
			</div>
			@if (Model.Album != null)
			{
				<div class="form-group">
					<label asp-for="TrackNumber" class="control-label"></label>
					<p>@Html.DisplayFor(model => model.TrackNumber)</p>
				</div>
			}
			<div class="form-group">
				<label asp-for="Publisher" class="control-label"></label>
				<p>@Html.DisplayFor(model => model.Publisher)</p>
			</div>
			<form asp-action="AdminDelete">
				<input type="hidden" asp-for="Id" />

				<div class="form-group middle-align">
					<input type="button" value="Back" class="btn btn-primary" onclick="location.href='@Url.Action("AdminDetails", "Songs", new { id = Model.Id })'" />
					<input type="submit" value="Delete" class="btn delete-button" />
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-3"></div>
</div>
